/*NAVBAR*/
.NavBar {

	background-color: black;
	width: 100%;
	height: 62px;
	position: relative;
}


.Navbar ul {

	text-align: center;
	margin: 8px 2px;
	text-decoration: none;
}

.NavBar ul li {

	list-style: none;
	display: inline-block;
	width: 400px;
	padding: 0px;
	background-color: transparent;
	color: orange;
	font-family: 'Baloo Bhaina', cursive;
	
	
}


 .NAME  {

	position: absolute;
	top: 2px;
	left: 75px;
	font-size: 35px;
	color: orange;

}

.NavBar ul li a {

	text-decoration: none;
}




/*ACA TERMINA NAVBAR*/

.HOME {

	position: absolute;
	top: 25px;
	right: 600px;
	color: #f0ff26;
	font-size: 18px;
}

.HOME:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.HOME:after {

	content: "Home";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .HOME:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .HOME:hover:after {

 	width: 100%;
 	height: 100%;
 }



.CONTACT {

	position: absolute;
	top: 25px;
	right: 55px;
	color: #f0ff26;
	font-size: 18px;

}
/* li del nav con sus respectivas animaciones */

.CONTACT:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.CONTACT:after {

	content: "Contact me";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .CONTACT:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .CONTACT:hover:after {

 	width: 100%;
 	height: 100%;
 }

.JOB {

	position: absolute;
	top: 25px;
	right: 220px;
	color: #f0ff26;
	font-size: 18px;
}

.JOB:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.JOB:after {

	content: "Job Experience";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .JOB:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .JOB:hover:after {

 	width: 100%;
 	height: 100%;
 }


.WHO {

	position: absolute;
	top: 25px;
	right: 420px;
	color: #f0ff26;
	font-size: 18px;
}

.WHO:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.WHO:after {

	content: "Who am I?";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .WHO:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .WHO:hover:after {

 	width: 100%;
 	height: 100%;
 }



 /*ACA TERMINA LA ANIMACION DE LOS LI DEL NAV */



 body {
    
    font-family: 'Baloo Bhaina', cursive;
    font-size:16px;
    background-image: url("../../IMGS/fondo.png");
    background-color: #f0ff26;
    
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

    display: block;
}

h1 {
    font-family: 'Baloo Bhaina', cursive;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    color: #000;
}
/** have a nice ampersand **/
 h1:after {
    font-size: 35px;
    color: #000;
    content:'&';
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: 0px 1px 0px #fff;
}
/** create the gradient bottom **/
 h1:before {
    position:absolute;
    bottom: 15px;
    content: ' ';
    text-align: center;
    display: block;
    height: 2px;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(182, 180, 180, 0.7)), color-stop(43%, rgba(180, 178, 178, 0)), color-stop(50%, rgba(168, 166, 166, 0)), color-stop(57%, rgba(180, 178, 178, 0)), color-stop(58%, rgba(182, 180, 180, 0.7)), color-stop(90%, rgba(238, 237, 237, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
}
/* Here comes to good stuff : content styling */
 #CONTAINER {
    position: relative;
    margin: 50px auto;
    width: 400px;
    min-height: 200px;
    z-index: 100;
    padding: 30px;
    border: 1px solid #000;
    background-color: #f0ff26;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*box-shadow*/
    -webkit-box-shadow: 0px 1px 6px #000;
    -moz-box-shadow: 0px 1px 6px #000;
    box-shadow: 0px 1px 6px #000;
}
/** my "fake" background that will hover the stripes **/
 #CONTAINER:after {
    
    background-color: orange;
    margin:10px;
    position: absolute;
    content :" ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border:1px #E5E5E5 solid;
    /*border-radius*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
/*** form styling **/

/** we remove the red glow around required fields since we are already using the red star */
 input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
/** inputs and textarea**/
 input:not([type="submit"]), textarea {
    outline: none;
    display: block;
    width: 380px;
    padding: 4px 8px;
    border: 1px dashed #DBDBDB;
    color: #3F3F3F;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 14px;
    /*border-radius*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*transition*/
    -webkit-transition:background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition:background 0.2s linear, box-shadow 0.6s linear;
    -o-transition:background 0.2s linear, box-shadow 0.6s linear;
    transition:background 0.2s linear, box-shadow 0.6s linear;
}
input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
    background: orange;
    border:dashed 1px #f0ff26;
    /*box-shadow*/
    -webkit-box-shadow: 2px 2px 7px #f0ff26 inset;
    -moz-box-shadow: 2px 2px 7px #f0ff26 inset;
    box-shadow: 2px 2px 7px #f0ff26 inset;
}
input:not([type="submit"]) {
    height: 20px;
}
/* placeholder */
 ::-webkit-input-placeholder {
    color: #f0ff26;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #f0ff26;
    font-style: italic;
}
textarea {
    min-height: 150px;
    resize: vertical
}
/** labels**/

/** adding our icon font !! */
 .iconic:before {
    font-size: 25px;
    font-family: 'Baloo Bhaina', cursive;
}
.iconic.link:before {
    content:'/';
}
.iconic.quote-alt:before {
    content:"'";
}
.iconic.comment:before {
    content:"q";
}
.iconic.user:before {
    content:"u";
}
.iconic.mail-alt:before {
    content:"M";
}
label {
    color:#000;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover {
    color:#000;
}
label:before {
    color: #000;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover:before {
    color: #000;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
p {
    margin-bottom:20px;
}
.indication {
    color: #878787;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
}
.required {
    color: #E5224C;
}
/** Styling the send button **/
 input[type=submit] {
    margin-left: 235px;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Baloo Bhaina', cursive;
    color: #767676;
    font-size: 18px;
    padding: 10px 4px;
    border: 1px solid #E0E0E0;
    text-shadow: 0px 1px 1px #000;
    background: #f0ff26;
    
    /*border-radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius :5px;
    border-radius: 5px;
    /*box-shadow*/
    -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    /*transition*/
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
input[type=submit]:hover {
    color:orange;
    border-color: #000;
    background: #f0ff26;
    
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #000;
}
input[type=submit]:active, input[type=submit]:focus {
    position: relative;
    top: 1px;
    color: #f0ff26;
    background: orange;
    
    /*box-shadow*/
    -webkit-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
    -moz-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
    box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #000;
}

/* FOOTER */

.footer {

	height: 31px;
	width: 100%;
	background-color: #000;
	display: block;
	position: relative;
}

.MAIL {

	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 20px;

}


.Version {

	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 15px;

}

.widget {

	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 600px;
}