/*NAVBAR*/
.NavBar {

	background-color: black;
	width: 100%;
	height: 62px;
	position: relative;
}


.Navbar ul {

	text-align: center;
	margin: 8px 2px;
	text-decoration: none;
}

.NavBar ul li {

	list-style: none;
	display: inline-block;
	width: 400px;
	padding: 0px;
	background-color: transparent;
	color: orange;
	font-family: 'Baloo Bhaina', cursive;
	
	
}


 .NAME  {

	position: absolute;
	top: 2px;
	left: 75px;
	font-size: 35px;
	color: orange;

}

.NavBar ul li a {

	text-decoration: none;
}




/*ACA TERMINA NAVBAR*/

.HOME {

	position: absolute;
	top: 25px;
	right: 600px;
	color: #f0ff26;
	font-size: 18px;
}

.HOME:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.HOME:after {

	content: "Home";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .HOME:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .HOME:hover:after {

 	width: 100%;
 	height: 100%;
 }



.CONTACT {

	position: absolute;
	top: 25px;
	right: 55px;
	color: #f0ff26;
	font-size: 18px;

}
/* li del nav con sus respectivas animaciones */

.CONTACT:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.CONTACT:after {

	content: "Contact me";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .CONTACT:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .CONTACT:hover:after {

 	width: 100%;
 	height: 100%;
 }

.JOB {

	position: absolute;
	top: 25px;
	right: 220px;
	color: #f0ff26;
	font-size: 18px;
}

.JOB:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.JOB:after {

	content: "Job Experience";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .JOB:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .JOB:hover:after {

 	width: 100%;
 	height: 100%;
 }


.WHO {

	position: absolute;
	top: 25px;
	right: 420px;
	color: #f0ff26;
	font-size: 18px;
}

.WHO:before {

	content: "";
 	display: inline-block;
 	width: 0;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.2s linear all;
 	z-index: -1;
}

.WHO:after {

	content: "Who am I?";
	font-family: 'Baloo Bhaina', cursive;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	color: orange;
 	overflow: hidden;
 	width: 0;
 	height: 0;
 	transition: 0.2s linear all;

}

 .WHO:hover:before {

 	width: 100%;
 	height: 100%;
 }

  .WHO:hover:after {

 	width: 100%;
 	height: 100%;
 }



 /*ACA TERMINA LA ANIMACION DE LOS LI DEL NAV */


 #CONTAINER {

	background-image: url("IMGS/fondo.png");
    background-color: #f0ff26;
	height: 525px;
	position: relative;
	top: -16px;
}

#CONTAINER ul {

	text-decoration: none;
	position: absolute;
}

#CONTAINER ul li {

	list-style: none;
}

/* FOOTER */

.footer {

	height: 31px;
	width: 100%;
	background-color: #000;
	display: block;
	position: relative;
	bottom: 16px;
}

.MAIL {

	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 20px;

}


.Version {

	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 15px;

}

.widget {

	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color: orange;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 690px;
}